body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(img/bg.jpg);
  background-size: cover;
  
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.shadow{

  position: absolute;
  left: 40%;
  height: 100vh;
  width: 25vw;
  background: rgba(7, 9, 10, 0.7);
  
  
  
}

.core{
margin:0 auto;
width: 20vw;
}

.createToDo{
margin:20% 0 2% 0;

}

.headerCreate{
width:20vw;
height: 2.5vh;
}

.infoCreate{
width:20.2vw;
height: 10vh;
}

.buttonCreate{
width:20.5vw;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
background-color: rgb(164, 96, 228);
border:1px solid rgb(78, 74, 82);
}

.buttonCreate:hover{
  background-color:rgb(103, 115, 226);

}

.toDoList{
  margin:30px 0;
}
  
  
.toDoList p {
  margin:0;
  padding:0;

}

.toDo{
background-color: #58a4eb;
border: 2px solid #3f5d69;
border-radius: 10px;
margin: 10px 0px;

width:20.5vw;

}

.toDoInfo{
display: none;


}

.sec {
margin:0;
padding:0;
height: 100%;


}

.btn{
height:15px;
width: 15px;
margin:0;
padding:0;
}


