body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(img/bg.jpg);
  background-size: cover;  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
   monospace;
}

.shadow{
  height: 100%;
  min-height: 98.6vh;
  width: 25%;
  background: rgba(7, 9, 10, 0.7);  
  margin:0 auto;
  padding: 0 0 10px 0;
}

.core{
  margin:0 auto 0 auto;
  width: 82%;
}

.createToDo{
  padding: 50px 0 0 0 ;
}

.titleCreate{
  width:100%;
}

.infoCreate{
  width:100.6%;
  height: 90px;
}

.buttonCreate{
  width:103%;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background-color: rgb(164, 96, 228);
  border:1px solid rgb(78, 74, 82);
}

.buttonCreate:hover{
  background-color:rgb(226, 183, 103);
}

.toDoList{
  margin:30px 0 0 0;
}
  
.toDo{
  background-color: rgba(162, 73, 184, 0.801);
  border: 2px solid #0a57fc;
  border-radius: 10px;
  margin: 10px 0 0 0px;
  width:100.5%;
  display: flex;
  flex-direction: row;
}

.toDoText{
  flex:2;
  word-break:break-all;
  width: 160px;  
}

.toDoTitle{
  text-align: center;
  margin:2px 0px 10px 0px;
  padding-left: 20px;
}

.toDoInfo{
  margin:0;
  padding-left: 20px;

}


.toDoButton{
  
}

.buttonToDo{
  height:15px;
  width: 15px;
  margin:10px;
  padding:0;
  background-image:url(img/btn.png);
  background-size: cover;
  background-color:#134ef1;
  border: 1px solid #c55dc091;
  cursor:alias;
}

.buttonToDo:hover{
  box-shadow:0 0 10px 4px #1350f7;
  background-color:transparent;
 }

 .toDoButton.open .buttonToDo{
  background-image:url(img/btnreverse.png);
  
}